.wrapper{
    display: flex;
    align-items: stretch;
    
}

.sidebar{
    min-width: 250px;
    max-width: 250px;
    background:#2e1154;
    color:#fff;
    transition: all 0.3s;
}

.sidebar .sidebar-header{
  padding: 20px;
  background: #2e1154;
  border-bottom: 1px #391982 solid;
}


.navbar{
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    
    box-shadow: 1px 1px 3px #eee;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.list-unstyled a.active {
  background-color:#0067f4;
  color: white;
  
}

.list-unstyled li{
  
  border-bottom: 1px #451b7c solid;
 
}

.list-unstyled li:hover{
  background-color: rgb(12, 53, 216);
}

.list-unstyled a{
  color: #fff; 
  text-decoration: none;
  display: block;
    padding: 10px;
}

.list-unstyled a:hover{
  color: #fff; 
  text-decoration: none;
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}




/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}



#sidebar.active .sidebar-header h3{
  display: none;

}

#sidebar.active .sidebar-header strong {
  display: block;
}
#sidebar .sidebar-header strong{
  display: none;
    font-size: 1.8em;
}

#sidebar.active .list-unstyled li span{
  display: block;
  padding-left: 0px;
  font-size: 14px;
}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.list-unstyled li span{
  padding-left: 8px;
}


