h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

h1{font-size: 24px!important; 
    padding:0px!important; 
    margin: 0px!important;
}

h2{font-size: 20px!important; 
    padding:0px!important; 
    margin: 0px!important;
}

.contentArea{
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.workSection{
    padding: 20px;
    min-height: 100vh;
}

.heading{
    width:100%;
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 2px #eee solid;
}

.formcontainer{
    margin-top: 20px;
    display: block;
}



/* Attendance */

.showAttendance{
    margin-top: 40px;
}

.thumpSize{
    width: 100px;
    height: 100px;
    
}
.thumpSize img{
    width: 100px;
    height: 100px;
}
    

.discriptionDiv{
    width: 300px;
}

.switch-group .btn {
    padding: .375rem 0.50rem;
    font-size: 14px;
}

.actionbtn .btn{
    padding:5px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}


.actionbtn .svg-inline--fa.fa-w-18{
    width: 14px;
}
.actionbtn .svg-inline--fa.fa-w-14{
    width: 12px;
}

.actionbtn .svg-inline--fa{
    vertical-align: 0em;
}




.custom-file-input{
    opacity:inherit!important;
    
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    padding-left: 30px;
    
}

.custom-file-input::before {
    content: 'Upload Image';
    display: inline-block;
    background:#17a2b8;
    border: 1px solid#17a2b8;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 12pt;
    color: #fff;
}

.custom-file-input:hover::before {
    border-color:#118a9c;
}



.chooseVideo .custom-file-input::before {
    content: 'Upload Video';
    display: inline-block;
    background:#17a2b8;
    border: 1px solid#17a2b8;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 12pt;
    color: #fff;
}

.chooseVideo .custom-file-input:hover::before {
    border-color:#118a9c;
}

.chooseVideo{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.statustoggle{
    width: 80px;
}


.heading2{
    width: 100%;
    border-bottom: 1px #eee solid;
    padding-bottom: 10px;
}

.adminSection{
    width: 100%;
    margin-top: 30px;
}

.userAdmin{
    width: 100%;
    margin-top: 30px;
}


.userAdminTable{
    width: 100%;
    margin-top: 30px;
}

.videoListimg img{
    width: 50px;
    height: 50px;
}

.videoContent{
    width: 200px;
}

.popUp{
    padding: 10px;
    text-align: center;
}
.popUp p{
    font-size: 22px;
}
  
.buttonArea button{
    margin-right: 10px;
}